{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Customer</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstName) }}
    {{ form_errors(form.firstName) }}

    {{ form_row(form.lastName) }}
    {{ form_errors(form.lastName) }}

    {{ form_row(form.attachment) }}
    {{ form_errors(form.attachment) }}

    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
